@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    background-color: black;
}

.wapper-two {
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    column-gap: 20px;
    row-gap: 20px;
}

#code {
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Source Code Pro';
    font-weight: 600;
    color: rgb(79, 113, 223);
}

#a, #b {
    font-size: 15px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    color: white;
}

#b {
    margin-top: 15px;
    margin-bottom: 10px;
}

.box-code, .box-result {
    width: 600px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(26, 26, 26);
}

.code-back {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 500px;
    height: fit-content;
    background-color: black;
}


@media only screen and (max-width: 1400px) {
    .wapper-two {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    body {
        padding: 10px;
    }

    .box-code, .box-result, .code-back  {
        box-sizing: border-box;
        width: 100%;
    }

}